autodeploy/
*/autodeploy/
*/osgiTmp/
.metadata
RemoteSystemsTempFiles

# Maven
target/

# IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.pydevproject
.settings/
.recommenders

# Mac OS X
.DS_Store
